.card {
  height: 183px;
  padding: 15px;
  background-color: #21242d;
  border-radius: 8px;

  .img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
  }
  .info {
    width: 100%;
    .year {
      margin-block: 5px;
      font-size: 14px;
      opacity: 50%;
    }
  }
}
